.about {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -50px;
        padding: 96px 0;

        @media (max-width:375px) {
            padding: 50px 0 100px;
        }

        @media (max-width:1024px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__text {
        max-width: 640px;
        margin: 0 50px;

        @media (max-width:1024px) {
            margin-bottom: 30px;
        }
    }

    // &__title {}

    &__descr {
        margin-bottom: 40px;
    }

    // &__info {}

    &__name {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: $black;
        margin-bottom: 5px;
    }

    &__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // &__star {}

    &__img {
        margin: 0 50px;
        max-width: 500px;
        height: auto;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__btn-arrow-box {
        // width: 136px;
        display: inline-flex;
        margin: 0 -13px;
    }
}

.btn {
    &__arrow {
        margin: 0 13px;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        transition: $transition;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 10px;
            height: 10px;
            border-top: 2px solid #ccc;
            border-right: 2px solid #ccc;
            margin: 0 0 0 -1px;
            transition: $transition;
        }

        &:hover {
            border: 1px solid $green;
            background: $green;

            &::before {
                border-color: #fff;
            }
        }

        &:active {
            border: 1px solid $green-active;
            background: $green-active;
        }
    }

    &__prev {
        border: 1px solid #CCCCCC;
        transform: rotate(180deg);
    }

    &__next {
        border: 1px solid $green;
        background: $green;

        &::before {
            border-color: #fff;
        }

    }
}